
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,600&display=swap');


* { font-family: 'Montserrat', sans-serif; }

body{
    font-size: 17px;
}

.wrapper{
    background: #fff;
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
}

.button {
    display: block;
    width: 300px;
    height: 70px;
    border-radius: 50px;
    color: #fff;
    background: red;
    border: none;
    margin: 30px auto;
    font: 600 italic 15px Montserrat;
}

.subbutton {
    display: block;
    width: 300px;
    height: 70px;
    border-radius: 50px;
    color: #000;
    background: #fff;
    border: 1px solid #000;
    margin: 30px auto;
    font: 600 italic 15px  Montserrat;
}


.input {
    outline: none;
	-moz-appearance: none;
    resize: none;
    border: 1px solid #000;
    width: 700px;
    height: 100px;
    margin: 30px auto;
}

.form{
    width: 700px;
    margin: 0 auto;
    padding: 20px 0;
}

.mainContainer {
    position: relative;
    padding: 0;
    width: 1000px;
    height: 700px;
    display: block;
    margin: 20px auto;
}

img {border: none; max-width: 100%;}

#textArea, #authorArea {
    display: block;
    padding: 10px 5px;
}

#theText, #theAuthor {
    position: absolute;
    background: #000;
    background: rgba(0, 0, 0, 0.1);
    color: #fff;
    width: auto;
    padding: 5px;
    text-align: left;
    border: dashed 2px #ff7f27;
    display: block;
}

#theAuthor{
    right: 70px;
    bottom: 50px;
    font: bold  48px Montserrat;
    max-width: 600px;
}

#theAuthor::before{
    content: "—";
    position: absolute;
    top: -40px;
}

#theText::before{
    content: '“';
    position: absolute;
    top: -130px;
    left: -10px;
    font: bold italic  144px Montserrat;
}

#theText{
    left: 70px;
    bottom: 200px;
    font: 600 italic  48px Montserrat;
    max-width: 840px;
}

canvas {max-width: 100%;}

@media (max-width: 1200px) {
    *{font-size: 36px;}
    .form{width: 100vw;}
    .input{width: 100vw;}
    .button, .subbutton{width: 100vw; font-size: 36px; height: 100px;}
}

